<ion-content class="forgot-page">

  <div class="container">

    <div class="brand">

      <img
        src="assets/images/logo.png"
        alt="TokoGenz"
      >

      <h2>Lupa Password</h2>

      <p>
        Masukkan email akun Anda untuk menerima kode OTP.
      </p>

    </div>

    <form
      [formGroup]="forgotForm"
      (ngSubmit)="sendOtp()">

      <div class="input-group">

        <label>Email</label>

        <input
          type="email"
          formControlName="email"
          placeholder="contoh@email.com"
        >

      </div>

      <div
        class="error"
        *ngIf="
          forgotForm.get('email')?.invalid &&
          forgotForm.get('email')?.touched
        "
      >

        Email tidak valid

      </div>

      <button
        class="btn-primary"
        type="submit"
        [disabled]="loading">

        {{
          loading
          ? 'Mengirim...'
          : 'Kirim OTP'
        }}

      </button>

    </form>

    <div class="footer-link">

      <a
        (click)="goToLogin()">

        Kembali ke Login

      </a>

    </div>

  </div>

</ion-content>