<ion-content [fullscreen]="true" class="splash-container">
  <div class="splash-content">
    
    <div class="logo-wrapper">
      <!-- Logo Inisial Tokogenz -->
      <div class="logo-box">
        <img src="./../../../assets/images/logo.png">
      </div>
      <h1 class="brand-name">Toko<span>genz</span></h1>
      <p class="tagline">Belanja Seru Gaya Baru</p>
    </div>

    <!-- Loading Spinner -->
    <div class="loader-wrapper">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

  </div>
</ion-content>